extends layout

block content

  .hero
    .hero-content
      h1 Recipes
      p Click to view a recipe
  .recipes-container
    each recipe in response
      a(href="/recipes/" + recipe.id)
        .recipes-card
          .recipes-card-img-container
            img(src=recipe.img_url, alt=recipe.title)
          .recipes-card-content
            h2 #{recipe.title}
            p #{recipe.description}
            p 
              span Preperation 
              span #{recipe.preptime}hrs
            p 
              span Cooking 
              span #{recipe.cooktime}hrs
            