extends layout

block content

  h1.recipe-title #{response[0][0].title}
  p.recipe-subtitle #{response[0][0].description}
  .recipe-container
    .left-panel.panel
      .recipe-info-container
        h2 Info
        .recipe-info
          span Prep Time
          span #{response[0][0].preptime} minutes
      .recipe-info 
        span Cooking Time
        span #{response[0][0].cooktime} minutes
      .ingredients
        h2 Ingredients
        ul
          each ingredient in ingredients
            li 
              span #{ingredient.name}
              span #{ingredient.amount}
      .instructions
        h2 Instructions
        p #{response[0][0].instructions}
    .right-panel.panel
      .recipe-img
        img(src=response[0][0].img_url, alt=response[0][0].title)
  .comment-container
    h2 Comments
    each comment in response[1]
      .comment
        p.commenter #{comment.name}
        p #{comment.content}
          .comment-options
            a(href="/comment/" + comment.id) Edit
            a(href="/delete-comment/" + comment.id + "/" + comment.recipe_id) Delete
    .add-comment
      form(action="/newcomment/" + response[0][0].id, method="post")
        input(type="text", name="name", placeholder="Name Goes Here")
        input(type="text", name="comment", placeholder="What do you think?")
        button.button Submit