extends layout

block content

  .hero
    .hero-content
      h1 Recipes
      p Click to view a recipe
  .recipes-container
    each recipe in response
        .recipes-card
          a(href="/delete/" + recipe.id).delete-btn x
          a(href="/recipes/" + recipe.id)
            .recipes-card-img-container
              img(src=recipe.img_url, alt=recipe.title)
            .recipes-card-content
              h2 #{recipe.title}
              p #{recipe.description}
              p 
                span Preperation 
                span #{recipe.preptime}hrs
              p 
                span Cooking 
                span #{recipe.cooktime}hrs
          a(href="/update/" + recipe.id) Edit
            