extends layout 
block content

  .add-recipe-page
    h2 Update #{recipe.title}

    form(method="post")
      fieldset
        input(type="text", name="title",value=recipe.title, required)
        label(for="title") Title
      fieldset
        input(type="text", name="description", value=recipe.description, required)
        label(for="description") Description
      fieldset
        input(type="number", name="preptime", value=recipe.preptime, required)
        label(for="preptime") Prep Time
      fieldset
        input(type="number", name="cooktime", value=recipe.cooktime, required)
        label(for="cooktime") Cooking Time
      fieldset
        textarea(type="text", name="instructions", rows="5", required) #{recipe.instructions}
        label(for="instructions") Instructions
      fieldset
        input(type="text", name="imgurl", value=recipe.img_url, required)
        label(for="imgurl") Image URL
      .ingredient-container(data-total=ingredients.length)
        h2 Ingredients
        each ingredient in ingredients
          fieldset
            .ingredients
              input(type="text", name="ingredient["+ingredient.id+"][name]", value=ingredient.name, required) 
              input(type="number", name="ingredient["+ingredient.id+"][amount]", value=ingredient.amount, required)
              a.button.deletable(href="/delete-ingredient/" + ingredient.id + "/" + recipe.id) Delete
      button(type="button")#addIngredientButton Add Another Ingredient
      fieldset
        button.submit-btn(type="submit") Update